@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato, sans-serif";
  font-size: 16px;
  box-sizing: border-box;
}

.card-style {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 0 4px saddlebrown;
}

.h-100 {
  height: calc(100vh - 52px);
}

.w-30 {
  width: 30px;
}

.a-center {
  align-self: center;
}

/* home */
.container-home {
  height: 100vh;
  background: no-repeat, center url("../assets/fondo-plantas-tropicales.jpg");
  background-size: cover;
  font-family: "Piedra", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-home::after {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  opacity: 0.25;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.container-home div {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.container-home div h1 {
  font-size: 40px;
  text-shadow: 0 0 4px snow;
  color: saddlebrown;
  text-transform: uppercase;
  background: radial-gradient(olive, transparent);
}


.btn-start {
  width: 135px;
  height: 40px;
  margin-top: 15px;
  border-radius: 15px;
  align-self: center;
  background-image: linear-gradient(to bottom right, olivedrab, yellowgreen);
  border-bottom-style: outset;
  font-family: inherit;
  color: white;
  font-size: 20px;
  text-shadow: 0 0 3px saddlebrown;
  cursor: pointer;
}

/* game table */

.game-table header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 10px;
  font-family: "Piedra", cursive;
  font-kerning: none;
  font-size: 20px;
  background: linear-gradient(360deg, yellowgreen, olive);
  opacity: 0.9;
}

.game-table header h3 {
  background: white;
  border-radius: 5px;
  width: 90px;
  color: sienna;
  transform: scaleX(1.5);
}

.game-table {
  height: 100vh;
  background: no-repeat, center url("../assets/fondo-plantas-tropicales.jpg");
  background-size: cover;
}

.card-grid {
  margin: 0 30px;
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 1rem;
  justify-content: center;
}

/* modal */

.modal{
  &-container {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
  }

  &-content {
    background: no-repeat, center url(../assets/piedras.jpg);
    width: 50%;
    height: 250px;
    background-size: cover;
    border-radius: 15px;
    text-decoration: rgba(0, 0, 0, 0.8);
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 2px saddlebrown;
    text-transform: uppercase;
    color: rgba(23, 7, 7, 0.86);
  }
}

.modal-content {
  &::before {
    content: url('../assets/trophy2.png');
    position: absolute;
    top: 4.5rem;
  }

  div::nth-child(2){
    display: grid;
  }
}

.modal-content .btn-go-home {
  position: fixed;
  top: 2em;
  right: 11em;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 5px outset;
  background: radial-gradient(darkgreen, yellowgreen);
  border-color: silver;
  cursor: pointer;
}

.modal-content .btn-play-again {
  width: 140px;
  height: 42px;
  border-radius: 30px;
  border: 4px outset;
  background: linear-gradient(180deg, darkgreen, yellowgreen);
  color: white;
  font-size: 16px;
  border-color: silver;
  text-shadow: 0 0 5px black;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

// refactorizando funciones que agregan y quitan clases a los ele
.carta {
  /* mostrar valor, ocultar reverso */
  &.mostrada {
    .fondo-inverso {
      display: block;
    }

    .fondo-reverso {
      display: none;
    }
  }

  /* ocultar valor, mostrar reverso */
  &.ocultada {
    .fondo-inverso {
      display: none;
    }

    .fondo-reverso {
      display: block;
    }
  }

  /* ocultar valor, mostrar reverso */
  &.en-blanco {
    /* width: 200px;
    height: 200px; */

    .fondo-inverso {
      display: none;
    }
    .fondo-reverso {
      display: none;
    }
  }
}
