body{
    font-family: 'Lato, sans-serif';
      background: #f7f7f4;
  }
  
  .text-center{
    text-align: center;
    margin: 1.25rem 0;
/*     border-botton: 1px solid #dadada;
 */  }
  
  .col-md-3{
    border:1px solid black;
    margin: 1.25rem 0;
  }
  
  @media(max-width: 34em) {
    .col-sm-6{
      margin-left: 1.25rem;
    }
  }

  @media (min-width: 768px){
    .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 23%!important;
    }
}
/* body {
    margin: 0%;
    padding: 0%;
} */

div{
    .img-fondo {
        width: 100%;
        height: 100vh;
    }
    .btn-start {
        position: absolute;
        border-width: thick;
        bottom: 33%;
        left: 40%;
        width: 200px;
        height: 60px;
        border-radius: 16px;
        background: gold;
        font-size: 20px;
    }
}

header{
    display: flex!important;
    justify-content: space-around;
    p {
        border-radius: 7px;
        color: wheat;
        font-size: 40px;
        background: white;
    }
}

// table 
 main {
     .fondo-mesa {
        position: fixed;
        width: 100%;
        height: 100vh;
    }
    .row {
        padding-top: 108px;
        position: relative;
    }
    .col-md-3 {
        margin-right: 15px;
        background: white;
    }
    div{
        border: hidden!important;
        border-radius: 15px;
    }
}

.show {
     display: block;
 }
.hide {
    display: none;
}

.img-hide {
    visibility: hidden;
}

// refactorizando funciones que agregan y quitan clases a los ele
.carta {
    /* mostrar valor, ocultar reverso */
    &.mostrada {
        .fondo-inverso {
            display: block;
        }
        .fondo-reverso {
            display: none;
        }
    }

    /* ocultar valor, mostrar reverso */
    &.ocultada {
        .fondo-inverso {
            display: none;
        }
        .fondo-reverso {
            display: block;
        }
    }

    /* ocultar valor, mostrar reverso */
    &.en-blanco {
        width: 200px;
        height: 200px;

        .fondo-inverso {
            display: none;
        }
        .fondo-reverso {
            display: none;
        }
    }
}